<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Address book Login</title>
</head>
<body>

    <h3>Address book login</h3>
    <hr>
    <div>
        <form action="#" th:action="@{/authenticateUser}" method="POST">
            Username: <input type="text" name="username">
            <br><br>
            Password: <input type="text" name="password">
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>